body {
    width: 99vw;
	border: solid 1px black;
    height: auto;
    display: flex;
    flex-direction: column;		
	align-items: center;
}

.btnGet {	
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div {    
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 100%;
	height: 25rem;
	border: solid #f0d90c 5px;
	object-fit: contain;
	border-radius: 10px;
	box-shadow: 0 0 10px #3dfafa;
	background-color: #1099bb;
}

.container {
	margin-top: 2rem;
	padding-top: 1rem;	
}

.btnGenerate {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:17px 28px;
	text-decoration:none;
	text-shadow:0px -1px 0px #075247;
    width: 18em;
}
.btnGenerate:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.btnGenerate:active {
	position:relative;
	top:1px;
}
